<table>
  <thead>
    <tr>
      <th>Issue Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of issues">
      <td>
        <a target="_blank" href={{issue.html_url}}>
          <strong>{{issue.title}}</strong>
        </a>
      </td>
      <td>{{issue.body | truncatetext:150}}</td>
      <td>
        <p *ngIf="issue.user">
          <a target="_blank" href={{issue.user.html_url}}>
            {{issue.user.login}}
          </a>
        </p>
      </td>
      <td>
        <p *ngIf="issue.assignee">
          <a target="_blank" href={{issue.assignee.html_url}}>
            {{issue.assignee.login}}
          </a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
